:root {
  --color1: #292929;
  --color2: #39396f;
}

body {
  background-color: #d5d9df;
  display: grid;
  justify-content: center;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  }

#navbar {
  z-index: 3;
  display: flex;
  justify-content: flex-end;
  gap: 0rem;
  position: sticky;
  top: 0;
  left: 0;
  width: 100vw;
  height: 70px;
  background-color: #e0e0e0;
}

#navbar ul {
  justify-content: flex-end;
  display: flex;
  list-style: none;
  width: 100vw;
  margin: 0;
  padding-right: 30px;
}

#navbar li {
  justify-content: center;
  display: flex;
  align-items: center;
  width: 15%;
  max-width: 120px;
  min-width: 90px;  
}

#navbar a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;
  text-decoration: none;
  border-radius: 10px;
  font-size: 1.5rem;
  color: var(--color1);
  transition: .6s;
  margin: 0;
  }

#navbar a:hover {
  background-color: lightgrey;
  color: var(--color2);
  transition: .6s ;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: floralwhite
}

h1 {
  font-size: 4rem;
  margin: 0;
  color: var(--color2);
  transition: .5s
}

#welcome-section p {
  font-size: 1.75rem;
  margin: 0;
  padding-left: 100px;
  color: dimgray;
  
  transition: .5s;
}

#project-section {
  padding-top: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

#project-section h2 {
  text-align: center;
  color: var(--color1);
  padding-top: 20px;
  font-size: 2.25rem;
  grid-column: 1 / 3;
}

#project-section div {
  height: 300px;
  border: 2px solid cornflowerblue;
  border-radius: 10px;
  margin: 10%;
  transition: .6s;
}

#project-section div:hover {
  z-index: 1;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -2px rgba(0,0,0,0.05);
  transform: translateY(-5px);
  transition: .6s;
}

#contact-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding: 50px;
  max-width: 450px;
  margin: auto;
}

#contact-section h2 {
  grid-column: 1 / 4;
  text-align: center;
}

#contact-section a {
  display: flex;
  gap: .2rem;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #efefef;
  font-size: 1.2rem;
  background-color: #333333;
  border-radius: 10px;
  padding: 15px;
  min-width: 80px;
  transition: .6s;
}

#contact-section a:hover {
   z-index: 1;
  box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -2px rgba(0,0,0,0.05);
  transform: translateY(-5px);
  transition: .6s;
}

@media (max-width: 450px) {
  h1 {
    font-size: 2.5rem;
    transition: .5s;
  }
  #welcome-section p {
    padding-left: 0;
    transition: .5s;
  }
  #project-section {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 640px) {
  h1 {
    font-size: 4.75rem;
    letter-spacing: .45rem;
    transition: .5s;
  }
  #welcome-section p {
    padding-left: 200px;
    font-size: 2.25rem;
  }
}

@media (min-width: 1024px) {
  #project-section {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #project-section h2 {
  grid-column: 1 / 4;
  }
  h1 {
    letter-spacing: .6rem;
    font-size: 6rem;
    transition: .5s;
  }
  #welcome-section p {
    padding-left: 250px;
    font-size: 2.75rem;
    letter-spacing: .25rem;
  }
}